.outer-wrap-preloader{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    z-index: 30;
    opacity: 0.8;
    transform: translate(-50%,-50%);
}
.preloader{
    background: url(../images/preloader.gif) center no-repeat;
    width: 50%;
    height: 50%;
    background-size: contain;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 9999999;
}
.add-btn{
    width: 200px;
}
.add-btn span{
    padding-left: 10px;
    font-size: 18px;
}
.content-header h1{
    opacity:0;
}
/*#modalContent .box-title{*/
    /*margin-left: 50%;*/
    /*font-size: 24px;*/
/*}*/
#modalContent td{
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
}
#modalContent th{
    text-align:center;
    font-weight:bold;
}
.box.box-solid.box-primary{
    border: 1px solid #f39c12!important;
}

/*END COMMON*/