# Устанавливаем кодировку по умолчанию
AddDefaultCharset utf-8
# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Запрещаем просмотр содержимого папок
  Options -Indexes
</IfModule>
# Mod_Rewrite
<IfModule mod_rewrite.c>
  Options +SymLinksIfOwnerMatch

  # Включаем mod_rewrite
  RewriteEngine On
  RewriteBase /
  DirectorySlash Off
  RewriteRule ^(.*)/$ $1 [R=301,L]
  #RewriteCond %{HTTP_HOST} ^www.ican-school\.com$ [NC]
  #RewriteRule ^(.*)$ http://ican-school.com/$1 [R=301,L]
  # не позволять httpd отдавать файлы, начинающиеся с точки (.htaccess, .svn, .git и прочие)
  RedirectMatch 403 /\..*$
  # Если это папка или файл, открываем её/его
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # В противном случае перенаправляем на index.php
  RewriteRule . index.php
</IfModule>